{% extends 'base.html'%}

{% block title %}
Добавить новый счет
{% endblock %}

{% block body %}

 <div class="container-my-page" style="justify-content: center;">
    <div class="row py-5 row-cols-1 row-cols-lg-2">
      <form method="post" class="col" action="/bills/add-new-bill" enctype="multipart/form-data">
        <div class="feature-col-wish">
          <div class="types-actions-wish">
            <p class="wish-title">Новый счет</p>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="name-bill" class="form-control form-control-wish" id="floatingNameBill" placeholder="Name">
            <label for="floatingNameBill">Название</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="amount" class="form-control form-control-wish" id="floatingAmount" placeholder="Cost">
            <label for="floatingAmount">Сумма</label>
          </div>

          <button class="btn btn-lg rounded-pill btn-save" type="submit" style="border: none;">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}