{% extends 'base.html'%}

{% block title %}
Вход
{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-10 mx-auto col-lg-5">
  {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">

         <p>Письмо, для сброса пароля отправлено на почту: </p>
            <p name="email">{{email}}</p>


         <p>Введите новый пароль, который был отправлен на почту</p>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
          </div>
           <button class="w-100 btn btn-lg rounded-pill btn-sign-in-auto" type="submit">Сохранить</button>

        </form>
      </div>
    </div>
     </div>

{% endblock %}