{% extends 'base.html'%}

{% block title %}
Вход
{% endblock %}

{% block body %}

<div class="container mt-5">
<div class="row justify-content-center">
<div class="col-md-10 mx-auto col-lg-5">
  {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
          <div class="form-floating mb-3">
            <input type="email" name= "email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Адрес электронной почты</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
          </div>
          <button class="w-100 btn btn-lg rounded-pill btn-sign-in-auto" type="submit">Войти</button>
          <hr class="my-4">
          <p class="mt-1 mb-0 p-0">
  Впервые в CashFlow?
  <a href="/sign-up">Создайте аккаунт</a>
</p>
            <a href="/forgot_password">Забыли пароль?</a>
        </form>
      </div>
    </div>
     </div>

{% endblock %}